<%- include("partials/header", {isAuthenticated: false}) -%>

    <div style="margin-top: 11vh;">


        <% if(error) { %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
            <% } %>

                <form action="/sign-up" method="POST">
                    <div class="form-group">
                        <label>First Name</label>
                        <input class="form-control col-md-12 col-sm-12 col-xs-12" type="text" name="firstName"
                            autocomplete="off" value="<%= data.firstName %>" required></input>
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input class="form-control col-md-12 col-sm-12 col-xs-12" type="text" name="lastName"
                            autocomplete="off" value="<%= data.lastName %>" required></input>
                    </div>
                    <div class="form-group">
                        <label>Your Username</label><br />
                        <label style="color:red">Must be of atleast 4 length and max 12</label>
                        <input class="form-control col-md-12 col-sm-12 col-xs-12" type="text" name="userName"
                            autocomplete="off" value="<%= data.userName %>" required minlength="4"
                            maxlength="12"></input>
                    </div>
                    <div class="form-group">
                        <label>Your Email</label>
                        <input class="form-control col-md-12 col-sm-12 col-xs-12" type="email" name="email"
                            autocomplete="off"
                            title="The domain portion of the email address is invalid (the portion after the @)."
                            pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$"
                            value="<%= data.email %>" required></input>
                    </div>
                    <div class="form-group">
                        <label>Password</label><br />
                        <label style="color:red">Please include at least 1 uppercase character, 1 lowercase character,
                            and 1 number.</label>
                        <input class="form-control col-md-12 col-sm-12 col-xs-12" type="password" name="password"
                            autocomplete="off" value="<%= data.password %>" required
                            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"
                            title="Please include at least 1 uppercase character, 1 lowercase character, and 1 number."></input>
                    </div>
                    <div class="text-center">
                        Already an User? <a href="/log-in">Log In</a>
                    </div>
                    <button class="btn btn-primary" type="submit" name="sign-up">Sign Up</button>
                </form>

    </div>

    <%- include("partials/footer") -%>